<div class="input-group mb-3 contenedor">
    <input  type="text" class="form-control" placeholder="numero" (keyup)="capturarPotencia($event)" aria-label="Recipient's username" aria-describedby="button-addon2">
    <input   type="text" class="form-control" placeholder="Potencia" (keyup)="capturarNumero($event)" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button (click)="result()" class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
  </div>
