
<div class="row">
  <div class="col-4">
    <app-palindromo></app-palindromo>
  </div>
  <div class="col-4">
    <div class="center animate__animated animate__zoomInDown">
      <div class="card">
        <div class="container">
          <h2 class="casio">CASIO 👹</h2>
          <input type="text" class="screen" id="screen" placeholder="0" />
        
      
          <div class="buttons">
            <button (click)="wipe()" class="symbol">AC</button>
            <button (click)="wipe()" class="symbol">C</button>
            <button (click)="show('/')" class="symbol">/</button>
            <button (click)="show('*')" class="symbol">*</button>
        
            <button (click)="show('7')" class="number">7</button>
            <button (click)="show('8')" class="number">8</button>
            <button (click)="show('9')" class="number">9</button>
            <button (click)="show('-')" class="symbol">-</button>
        
            <button (click)="show('4')" class="number">4</button>
            <button (click)="show('5')" class="number">5</button>
            <button (click)="show('6')" class="number">6</button>
            <button (click)="show('+')" class="symbol">+</button>
        
            <button (click)="show('1')" class="number">1</button>
            <button (click)="show('2')" class="number">2</button>
            <button (click)="show('3')" class="number">3</button>
            <button (click)="show('.')" class="symbol">.</button>
        
            <button (click)="show('(')" class="number">(</button>
            <button (click)="show('0')" class="number">0</button>
            <button (click)="show(')')" class="number">)</button>
            <button (click)="calc('=')" class="symbol">=</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <app-potencia>
      
    </app-potencia>
  </div>
</div>

